
@{
    ViewBag.Title = "MostarImgNaview";
}

<h3>Imaguem sera mostrada abaixo </h3>



<img alt="" src="@ViewBag.Base64String" width="50%" />

<p> caso nao apareça deve ser  porque nao é uma imagem </p>


@Html.ActionLink("<- Voltar para lista", "Index")