
@{
    ViewBag.Title = "ServicoWindows";
}

<h2>Serviço Windows</h2>
<p>aqui vou colocar 2 PDF que esta explicado certinho é só seguir </p>
<p>Temos tambem  um projeto chamado GerenciadorDeEmail , que faz a busca de emails e trata ele funciona de segunda as sexta de das 8 as 18</p>
<p>

</p>
<a href="~/Content/Arquivos/Criando um serviço WindowsMedium.pdf">Criando um serviço  </a>
 <br />
<a href="~/Content/Arquivos/Tutorial_ Criar um aplicativo de serviço Windows _ Microsoft Docs.pdf">Criar um aplicativo de serviço Windows  </a>